<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.service.mapper.RecipeMapper">
	<insert id="create" parameterType="com.recipe.model.RecipeDTO">
		insert into recipe (category_id, small_category_id, title, content, image_url, update_date, create_date)
		values (#{categoryId}, #{smallCategoryId}, #{title}, #{content}, #{imageUrl}, now(), now())
	</insert>
	
	<select id="search" parameterType="com.recipe.model.RecipeDTO" resultType="com.recipe.model.RecipeSearchResult">
		select id,
		       category_id as categoryId,
		       (
		       	select name_jp
		       	  from category b
		       	 where a.category_id = b.id 
		       ) categoryName,
		       small_category_id as smallCategoryId,
		       (
		       	select name_jp
		       	  from small_category c
		       	 where a.small_category_id = c.id
		       ) smallCategoryName,
		       title,
		       content,
		       image_url as imageUrl
		  from recipe a
		 where delete_flg = '0'
		 <if test="categoryId != null and categoryId !=''">
		   and a.category_id = #{categoryId}
		 </if>
		 <if test="smallCategoryId != null and smallCategoryId != ''">
		   and a.small_category_id = #{smallCategoryId}
		 </if>
		 <if test="title != null and title != ''">
		   and match(a.title) against(#{title})
		 </if>
		 <if test="content != null and content !=''">
		   and match(a.content) against(#{content})
		 </if>
	</select>
	
	<select id="getSmallCategoryList" resultType="com.recipe.model.SmallCategoryDto">
		select id,
			   category_id as categoryId,
			   name,
			   name_jp nameJp
		  from small_category
	</select>

	<select id="getDetail" resultType="com.recipe.model.RecipeSearchResult">
		select id,
		       category_id as categoryId,
		       (
		       	select name_jp
		       	  from category b
		       	 where a.category_id = b.id 
		       ) categoryName,
		       small_category_id as smallCategoryId,
		       (
		       	select name_jp
		       	  from small_category c
		       	 where a.small_category_id = c.id
		       ) smallCategoryName,
		       title,
		       content,
		       image_url as imageUrl,
		       DATE_FORMAT(update_date, '%Y') updateYear,
       		   DATE_FORMAT(update_date, '%c') updateMonth,
       		   DATE_FORMAT(update_date, '%d') updateDay
		  from recipe a
		 where 1 = 1
		   and id = #{id}
	</select>
	
	<update id="updateRecipe" parameterType="com.recipe.model.RecipeDTO">
		update recipe
		   set category_id = #{categoryId},
		   	   small_category_id = #{smallCategoryId},
		   	   title = #{title},
		   	   update_date = now();
			 <if test="imageUrl != null">
			   image_url = #{imageUrl},	
			 </if>
		   	   content = #{content}
	     where id = #{id}		   	   
	</update>
	
	<delete id="deleteRecipe">
		update recipe
		   set delete_flg = '1'
		 where id = #{id} 
	</delete>
</mapper>    