<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <meta charset="utf-8">
        <title>WCB Cafe - menu</title>
        <meta name="description" content="ブレンドコーヒーとヘルシーなオーガニックフードを提供するカフェ">

        <!-- CSS -->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/js/menu.js"></script>
    </head>
    <body>
     	<div th:replace="menu/menu_top"></div>
        <div class="news-contents wrapper">
			<div th:replace="menu/menu_left"></div>
            <article>

                <div class="wrapper grid">
                	<div class="item" th:each="recipe : ${recipeList}">
                	<a th:href="@{/recipe/detail(id=${recipe.id})}">	
                		<img class="item_img" th:src="${recipe.imageUrl}" alt="">
                		<span class="item_title" th:text="${recipe.title}"></span>
                	</a>
                	</div>
                </div>
            	<form action="/recipe/search/" method="post" class="menu-font">
	                &nbsp;&nbsp;&nbsp;&nbsp;<span class="">小カテゴリー</span>
	                <select class="width20 padding9 menu-font" name="smallCategoryId">
	 					<option value="">選択してください</option>
                        <option th:each="smallCategory : ${smallCategoryList}" th:value="${smallCategory.id}" th:text="${smallCategory.nameJp}">
	                </select>
	                &nbsp;&nbsp;&nbsp;&nbsp;
	                タイトル
	                <input class="padding9 menu-font" type="text" name="title" size="25" value="" placeholder="タイトル">
	                <br>
	                &nbsp;&nbsp;&nbsp;&nbsp;レシピ内容
	                <input class="padding9 menu-font line-height5" type="text" name="content" size="40" value="" placeholder="レシピ内容">
	                <span class="right">
	                <button id="search_btn" type="submit" class="btn-gradient orange mini">検索</button>
	                <a href="/recipe/create" class="btn-gradient blue mini">作成</a>
	                </span>
                </form>
            </article>
        </div>
		<div th:replace="menu/menu_footer"></div>
    </body>
</html>